.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.headphone-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 50px 50px;
}

.order-cart{
    height: 500px;
    text-align: center;
    background-color: rgb(64, 153, 255);
    background-image: linear-gradient(to bottom, rgb(0, 47, 255), rgb(64, 153, 255))  ;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 0px, 0px 0px 10px rgb(200, 200, 200);
    color: white;
    position: sticky;
    top: 100px;
}

.button-group{
    position: absolute;
    bottom: 10px;
}

.button-group button{
    background-color: white;
    border: none;
    margin: 5px;
}

.button-random{
    padding: 10px 55px;
    border-radius: 20px;
    color: rgb(64, 153, 255);
    font-weight: bolder;
}

.button-random:hover{
    color: white;
    background-color: black;
}

.button-remove{
    padding: 10px 70px;
    border-radius: 20px;
    color: rgb(64, 153, 255);
    font-weight: bolder;
}

.button-remove:hover{
    color: white;
    background-color: red;
}

@media screen and (min-width: 2500px) {
    .headphone-container{
        grid-template-columns: repeat(5, 1fr);
        margin: 50px 50px;
    }
}

@media screen and (min-width: 2000px) {
    .headphone-container{
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 50px;
    }
}

@media screen and (max-width: 992px) {
    .headphone-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .products-container{
        grid-template-columns: 3fr 2fr;
    }

    .headphone-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .order-cart{
        top: 172px;
    }
}

@media screen and (max-width: 576px) {
    .products-container{
        grid-template-columns: 1fr 4fr;
    }

    .headphone-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 25px 25px;
    }

    .order-cart h2{
        font-size: 20px;
        margin: 10px 3px;
    }

    .button-random{
        padding: 10px 10px;
    }

    .button-remove{
        padding: 10px 26px;
    }
}